<div class="nav-group">
  <div class="nav-item">
  </div>
</div>
<div class="nav-group">
  <div class="nav-item">
    <div class="user-wrap" *ngIf="user && user.username; else anonymous">
      <button (click)="handleLogout()" class="link no-style mr-4">Logout</button>
      {{ user.username }}
    </div>
    <ng-template #anonymous>
      <div class="account-links">
        <a class="link mr-4" routerLink="/login">Login</a>
        <a class="link" routerLink="/register">Register</a>
      </div>
    </ng-template>
  </div>
</div>
