@import 'src/assets/sass/variables';

:host {
  display: flex;
  align-items: center;
  width: 100%;
  height: toRem(60px);
  background-color: #eaeaea;
  padding: toRem(30px);

  .nav-group {
    align-items: center;
    justify-content: center;

    &:first-child {
      flex-grow: 1;
    }
    .nav-item {
      width: 100%;
    }
  }
}
