@import 'src/assets/sass/variables';

:host {
  display: block;
  height: 100%;

  .main-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      padding: toRem(15px);
      flex-grow: 1;
      overflow: auto;
    }
  }
}
