@import 'src/assets/sass/variables';

:host {
  display: block;
  height: 100%;

  .main-content {
    height: 100%;

    .content {
      width: 100%;
      display: flex;
      padding: toRem(15px);
      min-height: 100%;
    }
  }
}
